/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: linear-gradient(to right, #f0af55, #f59b3c, #f98723);
  font-family: sans-serif;
  color: #333;
}

/* Header */

header {
  background-color: #fff;
  padding: 20px 0;
}

header .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex; /* Switch to flexbox for responsive layout */
  justify-content: space-between; /* Align logo and nav */
}

/* Logo */

.logo {
  width: 150px;
  height: auto;
}

/* Navigation */

nav {
  /* Remove float on smaller screens */
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block; /* Change to block on smaller screens */
  margin: 0 10px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 15px;
}

nav ul li a:hover {
  background-color: #F0AF55;
}

/* Title */

.title {
  color: linear-gradient(to right, #f0af55, #f59b3c, #f98723);
  text-decoration: none;
  text-align: center;
  font-size: 36px;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  header .container {
    flex-direction: column; /* Stack logo and nav on small screens */
    align-items: center; /* Center elements vertically */
  }

  header .title {
    font-size: 24px;
  }

  nav {
    text-align: center;
  }

  nav ul {
    display: block;
  }

  nav ul li {
    display: block;
    margin: 10px auto;
  }
}
